<h2>Admin Dashboard</h2>

<ul>
    <li><a href="/Admin/AddStaff">Add Staff</a></li>
    <li><a href="/Admin/EnrollStudent">Enroll Student</a></li>
    <li><a href="/Account/Logout">Logout</a></li>
</ul>

