<form method="post">
    Full Name: <input name="fullName" /><br />
    Email: <input name="email" /><br />
    Password: <input name="password" type="password" /><br />
    Role:
    <select name="role">
        <option value="Student">Student</option>
        <option value="Staff">Staff</option>
    </select><br />
    <button type="submit">Register</button>
</form>
