@model List<WebApplication2.Models.Student>
<html >
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</head>
    <body>
        <form action="/Home/AfterCreate" >
            <table class="table">
            <tr>
                <td>Name</td>
                <td><input type="text" name="StudentName" /></td>
            </tr>
            <tr>
                <td>CourseName</td>
                <td><input type="text" name="CourseName" /></td>
            </tr>
            <tr>
                <td><input type="submit" /></td>
            </tr>
            </table>
        </form>
    </body>
</html>